body {
  font-family: "Fira Mono", monospace;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #000;
}

.container {
  margin: 20px;
  padding: 20px 0;
  max-width: 600px;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1,
h2,
h3,
h4 {
  margin-top: 2rem;
}

h1 {
  width: 0;
  height: 0;
  color: transparent;
}

h2 {
  position: relative;
  padding-bottom: 5px;
}

h2:after {
  position: absolute;
  content: " ";
  top: 100%;
  left: 0;
  width: 1rem;
  height: 2px;
  margin-top: -2px;
  background-color: #000;
}

a {
  text-decoration-style: dotted;
  color: #333;
}
a:hover,
a:focus {
  text-decoration-style: solid;
  color: #000;
}

p {
  font-family: "Fira Mono", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

li {
  list-style-type: square;
}

#projects h4 {
  display: inline;
}

#contact h3 {
  display: inline;
}
